@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.battle-backgorund {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.battle-cards {
    display: flex;
    flex-direction: column;
    padding-top: 270px;
}

.battle-enemy-card {
    display: flex;
    justify-content: flex-end;
    padding-right: 400px;
}

.battle-my-card {
    display: flex;
    justify-content: flex-start;
    padding-left: 400px;
}

.battle-message-container {
    display: flex;
    justify-content: center;
    height: 15vh;
    margin-top: 10px;
}

.battle-message {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    font-size: 1.2rem;
    padding-top: 10px;
    padding-left: 10px;
}

.battle-attack-btn {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    margin-right: 20px;
}

.battle-attack-btn:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.battle-run-btn {
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.battle-run-btn:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}