#battle * {
    font-family: 'Neo둥근모 Code', 'Neo둥근모Code', 'neodgm-code';
}

.battle-backgorund {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.battle-ticket {
    font-size: 2rem;
    margin-left: 30px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.battle-cards {
    display: flex;
    flex-direction: column;
    padding-top: 250px;
}

.battle-enemy-card {
    display: flex;
    justify-content: flex-end;
    padding-right: 300px;
}

.battle-my-card {
    display: flex;
    justify-content: flex-start;
    padding-left: 300px;
}

.battle-message-container {
    height: 100px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.battle-message {
    display: flex;
    height: 90%;
    flex-direction: column;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid black;
    margin: 5px;
    padding : 5px;
    text-align: center;
}

.battle-attack-btn {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    margin-right: 20px;


}

.battle-attack-btn:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    color: #DC0A2D;
}

.battle-run-btn {
    background-color: transparent;
    color: black;
    font-size: 1rem;
}

.battle-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.battle-run-btn:hover {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    color: #DC0A2D;
}

.battle-modal-ok-btn {
    font-size: 1rem;
}

.battle-modal-ok-btn:hover {
    color: #DC0A2D;
    font-weight: bold;
}

.battle-modal-cancel-btn {
    font-size: 1rem;
}

.battle-modal-cancel-btn:hover {
    color: #DC0A2D;
    font-weight: bold;
}

.ReactModalPortal * {
    font-family: 'Neo둥근모 Code', 'Neo둥근모Code', 'neodgm-code';
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .battle-backgorund {
        height: 100vh;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }

    .battle-ticket {
        font-size: 2rem;
        margin-left: 5px;
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .battle-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .battle-enemy-card {
        display: flex;
        justify-content: flex-end;
        padding-right: 0px;
    }

    .battle-my-card {
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;
    }

    .battle-message-container {
        position: relative;
    }

    .battle-message {
        text-align: center;
        position: absolute;
        bottom: 10px;
    }

    .battle-attack-btn {
        font-size: 1.2rem;
    }

    .battle-run-btn {
        font-size: 1.2rem;
    }

}