@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

.random_page {
	width: 100%;
	height: calc(100vh - 70px);
	background: url(../../../public/img/random/img02.jpg) no-repeat center/cover;
}
.random_page p,
.random_page span,
.random_page div,
.random_page li {
	font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	line-height: 1.7;
	letter-spacing: -0.7px;
}
.random_page .ft,
.ft {
	font-family: 'Neo둥근모 Code', 'Neo둥근모Code', 'neodgm-code';
}
.random_page .inner {
	max-width: 1440px;
	margin: 0 aut;
}
.cursor {
	position: fixed;
	top: -500px;
	left: -500px;
	z-index: 9999;
	transform: translate(15px, 15px);
}
.random_page .inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
.random_page p {
	margin: 0;
}
.random_page .speech_bubble p {
	font-size: 27px;
}
.random_page .top_cont {
	height: 60vh;
	height: calc(100% - 25%);
	background: transparent;
	margin-top: 7px;
	padding: 30px;
}
.random_page .bottom_box {
	display: flex;
	height: 25%;
}
.random_page .bottom_box .img_box {
	width: 300px;
}
.random_page .bottom_box .cont_box {
	width: 100%;
}
.random_page .bottom_box .img_box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.random_page .bottom_box .speech_bubble {
	border: 1px solid #000;
	height: 100%;
	padding: 25px;
	position: relative;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* cursor: pointer; */
}
.random_page .bottom_box .speech_bubble .img_box {
	flex-shrink: 0;
}
.random_page .bottom_box .speech_bubble .txt_box {
	flex-shrink: 0;
	flex-grow: 0;
	margin-right: auto;
	padding-left: 20px;
}
.random_page .bottom_box .speech_bubble button {
	flex-shrink: 0;
}
.random_page .bottom_box .speech_bubble button:last-child {
	margin-left: 10px;
}
.random_page .bottom_box .speech_bubble::before {
	content: '';
	width: 99%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #000;
}
.random_page .bottom_box .speech_bubble .txt_desc {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	gap: 10px;
}
.random_page .bottom_box .speech_bubble .txt_desc::before {
	content: '';
	background: url(../../../public/img/random/mail.png) no-repeat center/cover;
	min-width: 50px;
	height: 50px;
}
.random_page .pokemon_cont {
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
}
.random_page .pokemon_cont .random_pokemon_cont {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 100%;
	left: 0;
	display: flex;
	align-items: center;
}
.random_page .top_cont.visible .random_pokemon_cont {
	opacity: 1;
	visibility: visible;
}
.random_page .pokemon_cont .random_pokemon_cont img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
	width: 300px;
	height: 300px;
}
.random_page .random_pokemon_img_cont {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
}
.random_page .random_pokemon_img_cont img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin: 0 auto;
	text-align: center;
}
.random_page .pokemon_cont .img_box {
	width: 50%;
	height: 100%;
	/* background: #fff; */
	position: relative;
	object-fit: cover;
}
.random_page .pokemon_cont .txt_box {
	width: 50%;
	height: 100%;
	background: #fff;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
}
.random_page .pokemon_cont .txt_box p,
.random_page .pokemon_cont .txt_box li {
	font-size: 18px;
}
.random_page .pokemon_cont .txt_box p.name {
	font-size: 45px;
	font-weight: 700;
}

.random_page .next_btn {
	background: #000;
	color: #fff;
	padding: 1rem;
	cursor: pointer;
	z-index: 10;
}
.random_page .dn {
	display: none !important;
}
.random_page .loading_txt {
	text-align: center;
	font-family: 'Neo둥근모 Code', 'Neo둥근모Code', 'neodgm-code';
}
.spinner-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	gap: 24px;
}
.random_page .spec {
	padding: 0;
	margin-top: 30px;
}
.random_page .spec li {
	display: flex;
	align-items: center;
	padding: 0;
	gap: 10px;
	justify-content: space-between;
}
.random_page .spec li span {
	width: 10%;
	white-space: nowrap;
}
.random_page .spec li .progress {
	width: 75%;
}
.random_page .progress-bar {
	height: 100%;
}
.random_page p.id {
	font-size: 15px;
	color: gray;
	letter-spacing: 1px;
	margin: 15px 0 -18px 0;
}
.random_page p.height,
.random_page p.weight {
	font-size: 18px;
}
.dark_pokemon_img {
	filter: grayscale(100%) brightness(0);
}
.random_page .battle-ticket {
	position: absolute;
	top: 0;
	left: 0;
}
.random_page .button_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-align: center;
}

/* 애니메이션 */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
.random_page .typing {
	overflow: hidden;
	border-right: 0.15em solid black;
	white-space: nowrap;
	/* letter-spacing: 0.15em; */
	animation: typing 0.5s steps(40, end), blink-caret 0.75s step-end infinite;
	margin: 0;
}
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: black;
	}
}
