.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* pc 사이즈 */
  width: 208px;
  height: 216px; 
  border: 1px solid #efefef;
  border-radius: 16px;
  cursor: pointer;
  margin: 0 20px 20px 0;
  transition: transform 300ms ease-in-out;

  @media screen and (max-width: 767px) {
    width: 104px;
    height: 108px;
    border-radius: 8px;
    margin: 0 10px 10px 0;
  }
}
.card:nth-child(5n) {
  margin-right: 0;

  @media screen and (max-width: 767px) {
    margin-right: 10px;
  }
}
.card:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.card_type_group {
  position: absolute;
  top: 4px;
  left: 8px;
  display: flex;

  @media screen and (min-width: 767px) {
    top: 8px;
  }
}
.card_type_group span {
  font-size: 8px;
  padding: 1px 6px;
  margin-right: 5px;
  
  @media screen and (min-width: 767px) {
    font-size: 10px;
    padding: 2px 8px;
  }
}

.card_number {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8px 16px 0 0;

  @media screen and (max-width: 767px) {
    padding: 4px 8px 0 0;
  }
}
.card_number span {
  font-size: 16px;
  line-height: 12px;
  color: #666;
  
  @media screen and (max-width: 767px) {
    font-size: 8px;
  }
}

.card_img {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* pc 사이즈 */
  width: 144px;
  height: 144px;

  @media screen and (max-width: 767px) {
    /* mobile 사이즈*/
    width: 72px;
    height: 72px;
  }
}
.card_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.card_img img.non_catch {
  filter: brightness(0);
}

.uncatch_button {
  width: 30px;
  height: 30px;
}

.catch_button,
.uncatch_button {
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 30px;
  height: 30px;
  z-index: 9999;

  @media screen and (max-width: 767px) {
    width: 15px;
    height: 15px;
    left: -15px;
    bottom: -15px;
  }
}

.card_name {
  background-color: #efefef;
  border-radius: 14px;
  padding: 48px 16px 8px 16px;
  text-align: center;
  
  @media screen and (max-width: 767px) {
    /* mobile 사이즈*/
    border-radius: 7px;
    padding: 24px 8px 4px 8px;
  }
}
.card_name span {
  font-size: 20px;

  line-height: 16px;
  color: #1D1D1D;

  @media screen and (max-width: 767px) {
    /* mobile 사이즈*/
    font-size: 10px;
  }
}