.sun-search-icon {
    z-index: 2;
    position: absolute;
    left: 13px;
}

.sun-search-area {
    display: flex;
    align-items: center;
    position: relative;
}


.sun-input-style {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 30px;
    gap: 8px;
    width: 200px;
    height: 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.sun-input-style:focus {

    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.sun-slot-style {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    width: 32px;
    height: 32px;

    /* Grayscale/White */
    background: #FFFFFF;
    /* Drop Shadow/2 dp */
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.sun-pokemon-card-area {
    /* List Item */

    /* Auto layout */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    width: 104px;
    height: 108px;

    /* Grayscale/White */
    background: #FFFFFF;
    /* Drop Shadow/2 dp */
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.sun-pokemon-card-area:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.sun-my-pokemon-img {
    /* Silhouette */

    position: absolute;
    width: 72px ;
    height: 72px;
    left: 16px;
    top: 16px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;

}


.sun-pokemon-name {
    /* Name */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 8px 4px;
    justify-content: center;

    margin: 0 auto;
    width: 104px;
    height: 44px;

    /* Grayscale/Background */
    background: #EFEFEF;
    border-radius: 7px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;

}

.sun-card-number {
    /* Number */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 4px 8px 0px;
    gap: 8px;

    margin: 0 auto;
    width: 104px;
    height: 16px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;

}
