.container-fluid {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bg-primary {
    background: #DC0A2D;
}

.bg-white {
    background: #fff;
}

.my-pokemon-area {
    width: 75%;
    margin: 1em;
    border-radius: .5em;
}

.row {
    display: flex;
    padding: 1em;
    flex-wrap: wrap;

}

.col {
    padding: .2em;
}