.navbar-link{
    margin-right: 10px;
}

.navbar-link:hover {
  transform: scale(1.1);
  opacity: 1;

}

.navbar-box {
  border-top: 5px solid rgb(255, 225, 0);
}

@media screen and (max-width: 990px) {
  .navbar-link:hover {
    transform: scale(1.0);
    text-decoration: underline;
  }
}