@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

button,
input,
select,
textarea {
  padding: 0;
  background-color: transparent;
  border: 0;
}
button:focus,
input:focus,
select:focus {
  outline: 0;
  box-shadow: none;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
button, input {
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

/* header */
.headline {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}
.subtitle_1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}
.subtitle_2 {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}
.subtitle_3 {
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
}

/* body */
.body_1 {
  font-size: 14px;
  line-height: 16px;
}
.body_2 {
  font-size: 12px;
  line-height: 16px;
}
.body_3 {
  font-size: 10px;
  line-height: 16px;
}
.body_caption {
  font-size: 8px;
  line-height: 12px;
}

/* colors */
.primary {
  color: #DC0A2D;
}
.black {
  color: #212121;
}
.medium {
  color: #666; 
}
.light {
  color: #e0e0e0;
}
.background {
  color: #efefef;
}
.white {
  color: #fff;
}

/* shadow */
.drop_shadow_2 {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.drop_shadow_6 {
  box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
}
.inner_shadow {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

/* type color */
.normal {
  background-color: #AAA67F;
}
.fighting {
  background-color: #C12239;
}
.flying {
  background-color: #A891EC;
}
.poison {
  background-color: #A43E9E;
}
.ground {
  background-color: #DEC16B;
}
.rock {
  background-color: #B69E31;
}
.bug {
  background-color: #A7B723;
}
.ghost {
  background-color: #70559B;
}
.steel {
  background-color: #B7B9D0;
}
.fire {
  background-color: #F57D31;
}
.water {
  background-color: #6493EB;
}
.grass {
  background-color: #74CB48;
}
.electric {
  background-color: #F9CF30;
}
.psychic {
  background-color: #FB5584;
}
.ice {
  background-color: #9AD6DF;
}
.dragon {
  background-color: #7037FF;
}
.dark {
  background-color: #75574C;
}
.fairy {
  background-color: #FB5584;
}
/* type */
.type {
  display: inline-block;
  width: max-content;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin-right: 8px;
  border-radius: 10px;
  color: #fff;

  @media screen and (min-width: 767px) {
    font-size: 14px;
    padding: 4px 16px;
    margin-right: 16px;
  }
}
.type:last-child {
  margin: 0;
  
  @media screen and (min-width: 767px) {
    margin-right: 0;
  }
}