.pokemondex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button_group {
  display: flex;
}

.search_button,
.filter_button {
  display: block;
  width: 30px;
  height: 30px;
}
.search_button > svg,
.filter_button > svg {
  width: 100%;
  height: 100%;
}
